﻿@model MoodExpenseTracker.Models.ExpenseDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div style="margin-bottom:20px;">

    <a href="/Expense/List" class="btn btn-secondary btn-sm activ" role="button" aria-pressed="true">Back</a>
</div>

<div style="margin-bottom:20px;">
    <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/Expense/Edit/@Model.ExpenseId">Update</a>
    <a class="btn btn-secondary btn-sm active bg-danger" role="button" aria-pressed="true" href="/Expense/DeleteConfirm/@Model.ExpenseId">Delete</a>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.ExpenseName</h5>
        <p class="card-text">Card: @Model.CardName</p>
        <p class="card-text">Category: @Model.CategoryName</p>
        <p class="card-text">Amount: $@Model.Amount</p>
        <p class="card-text">Date: @Model.ExpenseDate</p>
        <p class="card-text">Description: @Model.Description</p>
        <p class="card-text">Mood: @Model.MoodName</p>
        <p class="card-text">Weather: @Model.WeatherName</p>
    </div>
</div>